@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
display: block; 
color : text-white;
background-color:  bg-blue-500;
border: border border-transparent rounded;
box-shadow:  shadow-sm;
}